<div class="main-page">
    <div class="background-container">
        <img
            ngSrc="assets/images/background.webp"
            class="background-image"
            alt="background"
            priority
            fill
        />
        <div class="main-container">
            <div class="main-content">
                <h1 class="main-title">BIM fellow</h1>
                <p class="main-description">Turning Your Vision into Reality</p>
                <button class="main-button" routerLink="/contact">
                    Let’s Build Something Great Together!
                </button>
            </div>
        </div>
    </div>
</div>
