.dropdown-container {
    display: flex;
    width: 9rem;
    height: 12rem;
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
    position: absolute;
    right: 2px;
    top: 3.2rem;
    border-radius: 10px;
}
.active {
    border: none;
    color: #e34513;
}
