<section class="about-us-page">
    <div class="about-us-text-container">
        <h1 class="mb-5">ABOUT US</h1>
        <p>
            We are a dedicated team of civil engineers with years of experience in Building
            Information Modeling.
        </p>
    </div>
    <div class="about-us-image-container">
        <img
            src="assets/images/about-us-copy-split.webp"
            alt="About Us"
            width="auto"
            height="auto"
        />
    </div>
</section>
<hr />

<section class="about-us-page d-flex flex-md-row-reverse">
    <div class="about-us-text-container">
        <h1 class="mb-5">WHAT IS BIM?</h1>
        <p class="mb-5">
            BIM is a digital process that provides a comprehensive 3D model-based representation of
            a building's physical and functional characteristics.
        </p>
        <p>
            BIM enables civil engineers, architects, contractors, and other stakeholders to
            collaborate seamlessly throughout the project lifecycle.
        </p>
    </div>
    <div class="about-us-image-container">
        <img
            src="assets/images/computer-render.webp"
            alt="What is BIM?"
            width="auto"
            height="auto"
        />
    </div>
</section>
<hr />

<section class="about-us-page-cards d-md-none">
    <h1 class="mb-5">WHY YOU SHOULD USE BIM?</h1>
    <div id="accordion" class="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button
                        class="btn"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                    >
                        Improved Collaboration
                    </button>
                </h5>
            </div>
            <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-bs-parent="#accordion"
            >
                <div class="card-body">
                    BIM enables real-time collaboration among all project stakeholders—designers,
                    engineers, contractors, and owners—ensuring that everyone works with the same,
                    up-to-date information.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button
                        class="btn"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                    >
                        Increased Efficiency
                    </button>
                </h5>
            </div>
            <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordion"
            >
                <div class="card-body">
                    With a shared digital model, the project process is faster, as it reduces
                    errors, rework, and time spent on revisions. This speeds up the overall project
                    timeline.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button
                        class="btn"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                    >
                        Cost Savings
                    </button>
                </h5>
            </div>
            <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordion"
            >
                <div class="card-body">
                    By detecting issues early and reducing errors, BIM helps to avoid costly
                    changes, minimize waste, and keep the project on budget.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button
                        class="btn"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                    >
                        Better Decision Making
                    </button>
                </h5>
            </div>
            <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordion"
            >
                <div class="card-body">
                    Real-time data from BIM models allows for better-informed decision-making
                    throughout the project lifecycle, ensuring the best possible outcome.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button
                        class="btn"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                    >
                        Sustainability
                    </button>
                </h5>
            </div>
            <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-bs-parent="#accordion"
            >
                <div class="card-body">
                    BIM enables sustainable design by optimizing energy performance, reducing
                    material waste, and supporting environmentally responsible practices.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us-page-cards-2 d-md-flex">
    <h1 class="mb-5">WHY YOU SHOULD USE BIM?</h1>
    <div id="accordion" class="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">Improved Collaboration</h5>
            </div>
            <div>
                <div class="card-body">
                    BIM enables real-time collaboration among all project stakeholders—designers,
                    engineers, contractors, and owners—ensuring that everyone works with the same,
                    up-to-date information.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">Increased Efficiency</h5>
            </div>
            <div>
                <div class="card-body">
                    With a shared digital model, the project process is faster, as it reduces
                    errors, rework, and time spent on revisions. This speeds up the overall project
                    timeline.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">Cost Savings</h5>
            </div>
            <div>
                <div class="card-body">
                    By detecting issues early and reducing errors, BIM helps to avoid costly
                    changes, minimize waste, and keep the project on budget.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">Better Decision Making</h5>
            </div>
            <div>
                <div class="card-body">
                    Real-time data from BIM models allows for better-informed decision-making
                    throughout the project lifecycle, ensuring the best possible outcome.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">Sustainability</h5>
            </div>
            <div>
                <div class="card-body">
                    BIM enables sustainable design by optimizing energy performance, reducing
                    material waste, and supporting environmentally responsible practices.
                </div>
            </div>
        </div>
    </div>
</section>
